* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* universal */
body {
    background-color: #F3F1FF;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin: 21px 0;
}

.header-container {
    max-width: 100%;
    width: 870px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* header */
header {
    padding: 10px 0;
    background-color: #562EFF;
}

.logo img {
    height: 50px;
}

.logoText {
    color: white;
    font-size: 24px;
    margin-left: 10px;
}

.logo a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: revert;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    margin-left: 20px;
}

.menu-item a {
    color: white;
    text-decoration: none;
}

/* top player style */


h3 {
    margin: 0;
    font-size: 18px;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.player img {
    width: 56px;
    margin-right: 16px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    font-weight: 500;
}

.title {
    color: #562EFF;
    margin-bottom: 20px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

hr {
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}


/* blog */
.blog-title {
    font-size: 20px;
}

.blog-author a {
    color: #562EFF;
    text-decoration: none;
}

.thumb img {
    width: 177px;
    height: 117px;
    object-fit: cover;
}

.blog {
    display: flex;
    align-items: center;
}

.blog-info {
    padding-left: 16px;
}

.blog-author {
    margin: 0;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}


/* latest courses */
.mt-0 {
    margin-top: 0;
}



/* courses */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 26px;
}

.course-banner img {
    width: 224px;
    height: 104px;
}

.course-title {
    font-size: 18px;
    font-weight: normal;
}

.course-author {
    color: #ED6B4F;
    font-size: 14px;
    margin: 0;
}

.fa-star {
    font-size: 12px;
}

.fa-star.active {
    color: #FFC014;
}

.fa-star.inactive {
    color: #AEAEAE;
    opacity: 0.5;
}

.course-info {
    padding-top: 16px;
}

.fs-14 {
    font-size: 14px;
    margin: 0;
}

.course-info {
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.left .fs-14 {
    margin-left: 10px;
    margin-top: 4px;
}

.course-duration {
    background: #FFE4E8;
    padding: 10px 15px;
    border-radius: 30px;
    color: #FF4A60;
    font-weight: 500;
}

.course {
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 20px;
}


/* tablet screens */
@media screen and (max-width: 992px) {
    .header-container {
        padding: 10px 15px;
    }

    .container {
        max-width: 95%;
        padding: 15px;
    }

    .courses {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 26px;
    }

    .course-banner img {
        width: 100%;
        height: auto;
    }

    .blog-title {
        font-size: 17px;
    }
}


/* media screens */
@media only screen and (max-width: 688px) {
    .logoText {
        display: none;
    }

    .menu-item a {
        font-size: 14px;
    }

    .profile-img {
        width: 40px;
        height: 40px;
        margin-top: 5px;
    }

    .logo img {
        height: 40px;
    }

    .container {
        max-width: 98%;
        padding: 15px;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-title {
        font-size: 18px;
    }

    .player {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .player img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .title {
        text-align: center;
    }

    .blog {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .thumb img {
        width: 100%;
    }

    .thumb img {
        width: 100%;
        height: auto;
    }

    .courses {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 21px;
    }
}